.groups {

}

$group-flag--padding: 8px;

.group-item {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;

  &__title {
    font-size: $font-size--biggest + 8px;
  }
  &__table {

  }
  @media #{$screen-medium_small} {
    &__table {
      width: 100%;
    }
  }
}

.group-top-labels {
  font-size: $font-size--smaller;
  color: $color-dusty-gray;
  > * {
    text-align: center;
    padding: 0 20px 4px 20px;
    text-transform: uppercase;
  }
  &__first {
    text-align: left;
  }
  &__versus {
    padding-left: 0;
    padding-right: 0;
  }
  &__tripple {
    border-left: 10px solid $color-white;
    border-right: 10px solid $color-white;
  }
}

.group-top-teams {
  > * {
    padding: 6px $group-flag--padding 6px $group-flag--padding;
  }
  &__label {
    text-align: center;
    font-size: $font-size--smaller;
    color: $color-dusty-gray;
    background-color: $color-background;
    vertical-align: middle;
    &--border-left {
      border-left: 1px solid $color-white;
    }
    &--border-right {
      border-right: 1px solid $color-white;
    }
    &--blank {
      background-color: transparent;
    }
  }
  .flag {
    margin: 0 auto;
  }
}

.group-versus {
  display: table-cell;
  @media #{$screen-medium_small} {
    display: none;
  }
}

.group-row {
  &__team {
    color: $color-bright-gray;
    font-size: $font-size-small;
    padding: ($group-flag--padding + 2px) 28px ($group-flag--padding + 2px) 0;
    white-space: nowrap;

    @include roboto-medium;
    &-title {
      letter-spacing: 1px;
    }
    &-flag {
      margin: 0 14px;
    }
    &-place, &-title, &-flag {
      display: inline-block !important;
    }
  }
  &__score {
    padding: 0 6px !important;
    &-value {
      background-color: $color-background;
      width: 30px;
      height: 18px;
      line-height: 18px;
      font-size: $font-size--smaller;
      @include roboto-medium;
    }
  }
  &__value {
    text-align: center;
    letter-spacing: 1px;
    font-size: $font-size--small;
    color: $color-bright-gray;
    padding: 0 $group-flag--padding;
    &--blank {
      /*background-color: $color-background;*/
      color: transparent;
      .group-row__score-value {
        display: none;
      }
    }
    &--score {
      color: $color-red;
    }
  }
}
