.play-off-match {
  display: flex;
  justify-content: center;
  color: $color-bright-gray;
  cursor: pointer;


  &:hover &__score {
      color: #315efb;
  }

  &__side {
    display: block;
    width: 27px;
  }
  &__score {
    display: block;
    text-align: center;
    width: 43px;
    height: 33px;
    line-height: 33px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: $font-size--header - 2px;
    @extend .hover-transition;
  }
}

.play-off-match:not(:last-child) {
  margin-bottom: 20px;
}

.play-off-match--past {
  .play-off-match__score {
    background-color: $color-background;
  }
}

.play-off-match--future {
  .play-off-match__side {
    width: 28px;
    height: 28px;
    background-color: $color-background;
  }
  .play-off-match__score:after {
    content: "–:–";
    display: block;
    color: #cfd5da;
  }
}

.play-off-match-side {
  &__flag {
    margin-bottom: 6px;
  }
  &__country {
    letter-spacing: 1px;
    font-size: $font-size--small;
    @include roboto-medium;
  }
}

.play-off-match-side--left {
  text-align: left;
}

.play-off-match-side--right {
  text-align: right;
  .play-off-match-side__flag {
    float: right;
  }
}

.play-off-match__side.play-off-match-side--with-team {
  background: none;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  align-items: center;
  justify-content: center;
}