.play-off {
  &__header {
    width: 100%;
    text-align: center;

    opacity: 0.6;
    font-size: $font-size--smaller;
    letter-spacing: 1px;
    color: $color-bright-gray;
    padding: 20px 0;
  }
  &__delim {

  }
  &__row {
    display: flex;
    justify-content: center;
    padding-bottom: 29px;
    &--less-bottom {
      padding-bottom: 9px;
    }
  }
  &__group {
    width: 50%;
  }
}

.play-off-delim {
  margin: 10px 0;
  height: 1px;
  width: 100%;
  background-color: $color-background;
  position: relative;
}

.play-off-delim--double {
  $side: 30px;
  $height: 20px;

  &:before, &:after {
    position: absolute;
    top: - $height / 2;
    width: 1px + $side * 2;
    height: 1px + $height;

    display: block;
    content: " ";

    border-left: $side solid $color-white;
    border-right: $side solid $color-white;
    background-color: $color-background;
  }
  &:before {
    left: 25%;
    margin-left: - $side - 1px;
  }
  &:after {
    right: 25%;
    margin-right: - $side - 1px;
  }
}
