$color-background: #ecf0f3;

$color-black: #000;
$color-default: $black;
$color-dark: #4a4a4a;
$color-trout: #494e59;

$color-bright-gray: #343b4c;
$color-dusty-gray: #9b9b9b;
$color-gray: #868686;
$color-gray--border: #e5e5e6;

$color-blue: $brand-primary; //#315efb
$color-blue--title: #5a7efb;

$color-red: #ff564e;
$color-orange: #ffb64e;

$color-white: #ffffff;
$color-white--tile: #edf0f3;
$color-white--footer: #dfe4ec;
$color-footer: #343b4c;
$color-footer-border: #f9fafb;

$color-border-gray: #eaeaea;
