body, html {
  margin: 0;
  padding: 0;

  color: $black;
  background-color: $color-background;
  font-family: $font-family-sans-serif;
  font-size: $font-size;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
}

a {
  @extend .hover-transition;
  &:hover {
    color: $color-blue !important;
  }
}

img {
  border: 0;
}

.dummy {
  outline: 1px solid #EDEDED;
}
