$grid-gap:              20;
$grid-gap--px:          #{$grid-gap}px;

$grid-gap--large:       20;
$grid-gap--medium:      20;
$grid-gap--small:       20;
$grid-gap--extra-small: 20;

$column-width: 20;

$column-count: 60;
$column-count--medium: 45;
$column-count--small: 29;
$column-count--extra-small: 29;
//$column-count--extra-small: 14;

/*$screen-large: "screen";
$screen-medium: "tv";
$screen-small: "tv";
$screen-extra-small: "tv";*/


.justify-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

@mixin grid-gap--bottom() {
  margin-bottom: $grid-gap--px;
}

.grid-gap--bottom {
  @include grid-gap--bottom;
}
