
$screen-large_medium: "screen and (min-width: #{$screen-medium-width}px)";
//$screen-medium_small: "screen and (max-width: #{$screen-large-width - 1}px) and (min-width: #{$screen-small-width}px)";
$screen-medium_small: "screen and (max-width: #{$screen-large-width - 1}px)";
$right-column-count: 300 / $grid-gap;

/* Columns */

.section-left {
  @extend .column-large-#{$column-count - $right-column-count - 1};
  @extend .column-medium-#{$column-count--medium - $right-column-count - 1};
  @extend .column-small-#{$column-count--small};
  @extend .column-xs-#{$column-count--extra-small};
}

.section-right {
  @extend .column-large-#{$right-column-count};
  @extend .column-medium-#{$right-column-count};
  @extend .hidden-small;
  @extend .hidden-xs;
}

.section-left, .section-right {
  overflow: hidden;
  > div:not([class]) {
    width: 100%; // IE KOSTbIL
  }
}

/* Tmp */

body {
  min-width: $screen-small-width * 1px;
}

$screen-small: "screen and (max-width: #{$screen-medium-width - 1}px)";
$screen-extra-small: "tv";

