.hover-on {
  transition: all 0.2s linear;
}

.hover-off {
  transition: all 0.1s linear;
}

.hover-transition {
  @extend .hover-off;
  &:hover {
    @extend .hover-on;
  }
  &:active {
    @extend .hover-on;
  }
}

.slider {
  transition: height 0.30s ease-out;
}
