/* Sizes */

$font-size--smaller: 11px;
$font-size--small: 12px;
$font-size: 14px;

$font-size--bigger: 16px;
$font-size--article: 17px;
$font-size--big: 18px;
$font-size--score: 20px;
$font-size--header: 24px;
$font-size--biggest: 30px;
$font-size--date: 44px;


/* Roboto Mixin */

@mixin roboto-black() {
  font-weight: 900;
}

@mixin roboto-bold() {
  font-weight: 700;
}

@mixin roboto-medium() {
  font-weight: 500;
}

@mixin roboto-regular() {
  font-weight: 400;
}

@mixin roboto-light() {
  font-weight: 300;
}

@mixin roboto-thin() {
  font-weight: 100;
}

/* Roboto Extend */

.roboto-black {
  @include roboto-black;
}

.roboto-bold {
  @include roboto-bold;
}

.roboto-medium {
  @include roboto-medium;
}

.roboto-regular, .roboto-normal {
  @include roboto-regular;
}

.roboto-light {
  @include roboto-light;
}

.roboto-thin {
  @include roboto-thin;
}
