.match-protocol-online {
  $padding--top: 16px;
  $margin--bottom: 5px;
  $score--top: 2px;

  &__header {
    font-size: $font-size--big;
    margin-bottom: 18px;
    padding-top: 13px;
    line-height: 1.4;
    @include roboto-medium;
  }
  &__row {

  }
  &__minute {
    color: $color-dusty-gray;
    font-size: $font-size--smaller;
    vertical-align: top;
    padding-top: $padding--top + $score--top !important;
    line-height: 20px; // same as score
  }
  &__alert {
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: top;
    text-align: center;
  }
  &__score {
    margin-top: $score--top;
  }
  &__icon-attention {

  }
  &__text {
    font-size: $font-size - 1px;
    padding: 0 41px 16px 21px;
    line-height: 1.3;
    @include roboto-light;
  }
  &__minute, &__alert, &__text {
    padding-top: $padding--top;
    border-bottom: $margin--bottom solid $color-white;
  }
}


.match-protocol-online__row--goal {
  .match-protocol-online__text {
    background-color: rgba($color-red, 0.05);
    font-size: $font-size--bigger;
    @include roboto-medium;
  }
}

.match-protocol-online__row--penalty {
  .match-protocol-online__text {
    background-color: rgba($color-blue, 0.05);
  }
}
