.match-protocol {
  padding: 0 57px 0 57px;
  overflow: hidden;
  @include grid-gap--bottom;
  &__social {
    margin-top: 60px;
    margin-bottom: 76px;
  }
}

@media #{$screen-medium_small} {
  .match-protocol {
    padding: 0 27px 0 27px;
    &__social {
      margin-top: 50px;
      margin-bottom: 60px;
    }
  }
}
