.match-protocol-stats {
  margin-bottom: 55px;
  
  &-panel--hidden {
    display: none;
  }

  &__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  &__num {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__item {
    font-size: $font-size--big;
    @extend .roboto-regular;

    &--left{
      color: $color-red;
    }

    &--right {
      color: $color-blue;
    }
  }
  &__line {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
  }
  &__part {
    display: inline-block;
    width: 50%;
    height: 10px;
    &--left {
      background-color: $color-red;
    }
    &--right {
      background-color: $color-blue;
    }
  }
  &__periods {
    margin: 0 15px;
    letter-spacing: 1px;
    object-fit: contain;
    font-size: $font-size--smaller;
    color: $color-dusty-gray;
  }
}
