.match-protocol-squads {
  display: flex;
  flex-wrap: wrap;

  &__row {
    display: flex;

    &--head {
      margin-bottom: 25px;
    }
    &--content {
      margin-bottom: 20px;
    }
  }

  &__item {
    width: 25%;
    text-align: right;
    margin-bottom: 25px;

    &--title {
      &-left {
        @media #{$screen-medium_small} {
          width: 50%;
          order: 4;
          padding-right: 40px;
        }
      }
      &-right {
        text-align: left;
        @media #{$screen-medium_small} {
          width: 50%;
          order: 5;
          padding-left: 40px;
        }
      }
      &-center {
        width: 50%;
        text-align: center;
        @media #{$screen-medium_small} {
          width: 100%;
          order: 1;
        }
      }

      &-l-bottom {
        @media #{$screen-medium_small} {
          width: 50%;
          order: 8;
          padding-right: 40px;
        }
      }
      &-l-center {
        padding-right: 40px;
        @media #{$screen-medium_small} {
          width: 50%;
          order: 12;

        }
      }
      &-r-center {
        padding-left: 40px;
        text-align: left;
        @media #{$screen-medium_small} {
          width: 50%;
          order: 13;
        }
      }
      &-r-bottom {
        text-align: left;
        @media #{$screen-medium_small} {
          width: 50%;
          order: 9;
          padding-left: 40px;
        }
      }
    }

    &--defender {
      &-right {
        text-align: left;
        @media #{$screen-medium_small} {
          width: 50%;
          order: 7;
          padding-left: 40px;
        }

        .match-protocol-squads__number {
          float: left;
          padding-left: 0;
          padding-right: 10px;
        }
      }
      &-left {
        @media #{$screen-medium_small} {
          width: 50%;
          order: 6;
          padding-right: 40px;
        }
      }
    }

    &--forward {
      &-right {
        padding-left: 40px;
        text-align: left;
        @media #{$screen-medium_small} {
          width: 50%;
          order: 3;
        }

        .match-protocol-squads__number {
          float: left;
          padding-left: 0;
          padding-right: 10px;
        }
      }
      &-left {
        padding-right: 40px;
        text-align: right;
        @media #{$screen-medium_small} {
          width: 50%;
          order: 2;
        }
      }
    }

    &--keeper {
      &-left {
        @media #{$screen-medium_small} {
          width: 50%;
          order: 10;
          padding-right: 40px;
        }
      }
      &-right {
        text-align: left;
        @media #{$screen-medium_small} {
          width: 50%;
          order: 11;
          padding-left: 40px;
        }

        .match-protocol-squads__number {
          float: left;
          padding-left: 0;
          padding-right: 10px;
        }
      }
    }

    &--coach {
      &-right {
        padding-left: 40px;
        text-align: left;
        @media #{$screen-medium_small} {
          width: 50%;
          order: 14;
          padding-left: 40px;
        }
      }
      &-left {
        padding-right: 40px;
        @media #{$screen-medium_small} {
          width: 50%;
          order: 13;
          padding-left: 40px;
        }
      }
    }
  }

  &__player {
    line-height: 1.9;
  }

  &__number {
    float: right;
    padding-left: 10px;
    font-size: $font-size--smaller;
    color: $color-dusty-gray;
  }
  &__name {
    display: block;
    /*text-transform: uppercase;*/
    font-size: $font-size--smaller;
  }
}

.match-protocol-squads-panel {
  width: 100%; //IE
}
