.match-protocol-tabs {
  display: flex;
  margin-bottom: 30px;
  border-bottom: 1px solid $color-border-gray;

  &--hidden {
    display: none;
  }

  &__item {
    margin-right: 30px;
    padding-bottom: 7px;
    font-size: $font-size--small;
    line-height: 30px;
    text-transform: uppercase;
    @extend .roboto-medium;

    &--active {
      color: $color-blue;
    }
  }
}