.match-protocol-summary {
  padding: 35px 0 15px;

  &__info {
    overflow: hidden;
    margin-bottom: 40px;
  }
  &__stadium {
    float: right;

    &-name,
    &-city {
      float: left;
      color: $color-dusty-gray;
      margin-right: 5px;
      text-transform: uppercase;
      font-size: $font-size--smaller;
      @extend .roboto-regular;
    }
  }
  &__group,
  &__date,
  &__time {
    float: left;
    margin: 0 10px;
    color: $color-dusty-gray;
    text-transform: uppercase;
    font-size: $font-size--smaller;
    @extend .roboto-regular;
  }
  &__status {
    text-align: center;
    margin-bottom: 20px;
  }
  &__scoreboard {
    display: flex;
    height: 52px;
    line-height: 52px;
    margin-bottom: 20px;
    &-team {
      height: 100%;
      width: 37.5%;
      text-align: center;
      font-size: $font-size--header;
      @extend .roboto-medium;

      &--left {
        text-align: right;
        padding-right: 12px;
      }
      &--right {
        text-align: left;
        padding-left: 12px;
      }
    }
    &-score {
      height: 100%;
      width: 25%;
      background-color: $color-background;
      text-align: center;
      font-size: $font-size--biggest;
      @extend .roboto-medium;
    }
    &-flag {
      display: inline-block!important;
      vertical-align: middle;
      margin: 0 18px;
    }
    &-country {
      display: inline-block;
      vertical-align: middle;
      &-full {
        display: inline;
        @media #{$screen_medium_small} {
          display: none;
        }
      }
      &-short {
        display: none;
        @media #{$screen_medium_small} {
          display: inline;
        }
      }
    }
  }
  &__chronology {
    display: flex;
    &-row {
      display: flex;
      flex-direction: row;
      /*flex-basis: 100%;*/
      justify-content: flex-end;
      margin-bottom: 22px;
      &--reverse {
        flex-direction: row-reverse;
      }
    }
    &-team {
      display: flex;
      width: 37.5%;
      flex-direction: column;
      /*justify-content: center;*/

      &--left {
        flex-direction: column;
      }
      &--right {
        flex-direction: column;
      }
    }
    &-players {
      text-align: right;
      &--reverse {
        text-align: left;
      }
    }
    &-score {
      width: 25%;
      text-align: center;
    }
    &-part {
      margin: 0 5px;
      font-size: $font-size;
      display: inline-block;
      @extend .roboto-medium;
    }
    &-type {
      width: 40px;
      text-align: center;
      opacity: 0.4;
      color: $color-blue;
      font-size: $font-size--smaller;
      @extend .roboto-medium;
    }
    &-minute {
      width: 30px;
      font-size: $font-size--smaller;
      letter-spacing: 1px;
      color: $color-gray;
      text-transform: uppercase;
    }
    &-scored {
      margin: 0 21px;
      font-size: $font-size--smaller;
      @extend .roboto-regular;
    }
    &-assist {
      margin: 0 21px;
      font-size: $font-size--smaller;
      color: $color-gray;
      line-height: 1.9;
      @extend .roboto-regular;
    }
    &-referees {
      margin-top: 30px;
    }
    &-title,
    &-name {
      font-size: $font-size--smaller;
      color: $color-gray;
      @extend .roboto-regular;
    }
  }
}
