$flags: (
  "blr"
  "cze"
  "fin"
  "ger"
  "kaz"
  "nor"
  "sui"
  "swe"
  "can"
  "den"
  "fra"
  "hun"
  "lat"
  "rus"
  "svk"
  "usa"
);

@mixin flag($flag) {
  $path--1x: "../images/flags/1x/flag--";
  $path--2x: "../images/flags/2x/flag--";
  background-image: url("#{$path--1x + $flag}.png");
  background-image: -webkit-image-set(url("#{$path--1x + $flag}.png") 1x, url("#{$path--2x + $flag}.png") 2x);
}

.flag {
  display: block;
  background-size: cover;
  &--small {
    width: 21px;
    height: 12px;
  }
  &--medium {
    width: 31px;
    height: 18px;
  }
  &--large {
    width: 42px;
    height: 24px;
  }
}

@each $flag in $flags {
  .flag--#{$flag} {
    @include flag($flag);
  }
}

.flag--aus, .flag--slo {
  background-color: $color-background;
}
