.more {
  @extend .grid-gap--bottom;

  text-align: center;
  width: 100%;
}

.button--more {
  position: relative;
  /*border: 2px solid $color-gray--border;*/
  padding: 0 25px;
  @extend .hover-transition;
  /*background: transparent !important;*/
  .loading-dots {
    position: relative;
    top: -1px;
  }
}

.button--loading {
  .loading-dots {
    position: relative;
    top: -4px;
    @extend .hover-transition;
  }
  .loading-dot {
    &:nth-child(1) {
      animation: animateDot .6s ease-out;
      animation-fill-mode: forwards;
      animation-delay: 0s;
      animation-iteration-count: infinite;
    }
    &:nth-child(2) {
      animation: animateDot .6s ease-out;
      animation-fill-mode: forwards;
      animation-delay: .08s;
      animation-iteration-count: infinite;
    }
    &:nth-child(3) {
      animation: animateDot .6s ease-out;
      animation-fill-mode: forwards;
      animation-delay: .16s;
      animation-iteration-count: infinite;
    }
  }
}

.loading-dots {
  width: 26px;
  height: 6px;
  margin-left: 15px;
  .loading-dot {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: $color-white;
    display: block;
    float: left;
    transition: transform .6s ease-out;
    transform: translate3d(0, 0, 0);
    &:nth-child(2){
      margin: 0 4px;
    }
  }
}

@keyframes animateDot {
  20% {
    transform: scale(1) translate3d(0, 0, 0);
  }
  40% {
    transform: scale(1) translate3d(0, 6px, 0);
  }
  100% {
    transform: scale(1)  translate3d(0, 0, 0);
  }
}
