.social-likes {
  display: flex;
  &__item {
    width: 38px;
    height: 38px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item + &__item {
    margin-left: 8px;
  }
  &__icon {
    @extend .icon-modifier--white;
  }
}

.social-likes__item {
  &--vk {
    background-color: #5D7EA3;
    .social-likes__icon {
      @include icon-social-vk(1);
    }
  }
  &--fb {
    background-color: #4763A1;
    .social-likes__icon {
      @include icon-social-fb(15/15.4);
    }
  }
  &--ok {
    background-color: #F58426;
    .social-likes__icon {
      @include icon-social-ok(11/10);
    }
  }
  &--tw {
    background-color: #5D9EC9;
    .social-likes__icon {

    }
  }
  &--lj {
    background-color: #15374C;
    .social-likes__icon {
      @include icon-social-lj(14/15.9);
    }
  }
}

// workaround for social-likes-next
svg.social-likes__icon {
  display: none;
}
