.top-slider {
  $header--height: 50px;
  $arrows--height: $header--height;

  position: relative;
  &__header {
    height: $header--height + 1px;
    line-height: $header--height + 3px; // move text bottom 2px
    border-bottom: 1px solid $color-background;
    display: flex;
  }
  &__arrows {
    position: absolute;
    top: 0;
    right: 0;
    height: $header--height; // 1px = border-bottom
    background-color: $color-white;
  }
  &__arrow {
    position: relative;
    display: inline-block !important;
    width: $header--height;
    height: $arrows--height;
    line-height: $arrows--height;
    cursor: pointer;
    text-align: center;
    border-left: 1px solid $color-background;
    @include icon-angle-left(15px/11px);
    &:nth-child(1) {
      left: -1px;
    }
    &:nth-child(2) {
      right: -1px;
    }
    &--disabled {
      cursor: not-allowed;
      .icon {
        opacity: 0.1;
      }
    }
  }
}
