.article-header {
  &__top {
    font-size: $font-size--smaller;
    margin-bottom: 9px;
    text-transform: uppercase;
    &-back {
      color: $color-blue;
      display: inline-block;
      margin-right: 15px;
    }
    &-date {
      display: inline-block;
      color: $color-dusty-gray;
    }
  }
  &__title {
    @extend .roboto-medium;
    font-size: $font-size--biggest;
    color: $color-bright-gray;
  }
  &__author {
    line-height: 1.9;
  }
}
