.article-content {
  @extend .roboto-light;
  line-height: 1.5;
  &__text {
    &:not(:last-child):after {
      display: block;
      content: "\00a0";
    }
    h4 {
      margin-top: 30px;
      font-size: $font-size--header;
      line-height: 28px;
      @extend .roboto-light;
    }
  }
  &__inner {
    &--image {
      margin: 30px 0;
    }
  }
  &__subtitle {
    font-size: $font-size--article;
    @extend .roboto-regular;
  }
  &__image {
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  &__caption {
    &--photo {
      font-size: $font-size--smaller;
      color: $color-dusty-gray;
    }
  }
  &__quote {
    display: flex;
    padding: 0 0 30px;
    font-size: $font-size--score;
    @extend .roboto-medium;
    &-content {
      padding-left: 25px;
    }
    &-icon {
      align-items: flex-start!important;
    }
  }
}
