.article {
  @extend .grid-gap--bottom;
  background-color: $color-white;
  padding: 30px 150px 75px 150px;
  width: 100%;

  &__header {
    margin-bottom: 20px;
  }
  &__content {
    margin-bottom: 69px;
    font-size: $font-size--article;
  }
  &__social {
    margin-bottom: 79px;
  }
  &__read-more {

  }
}

@media #{$screen-medium_small} {
  .article {
    padding-left: 45px;
    padding-right: 45px;
  }
  &__content {
    margin-bottom: 60px;
  }
  &__social {
    margin-bottom: 60px;
  }
}
