.ad {
  @extend .roboto-medium;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-dusty-gray;
  font-size: 20px;

  &--loaded {
    margin-bottom: 20px;
  }

  &--no-gap {
    margin-bottom: 0 !important;
  }

  &--footer {
    @extend .grid-gap--bottom;
    height: 170px;
  }

  &--debug {
    outline: 1px solid red;
    height: 200px;
    width: 100%;
  }
}
