.block {
  width: 100%;
  &__header {
    padding-top: 10px;
    font-size: $font-size--header;
    line-height: 1;
    @include roboto-light;
    @include grid-gap--bottom;
  }
  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.block2 {
  $padding: 20px;

  width: 100%;
  background-color: $color-white;
  &__header {
    padding: $padding;
    font-size: $font-size--header;
    border-bottom: 1px solid $color-background;
    @include roboto-light;
    &--bordered {
      border-top: 1px solid $color-background;
    }
  }
  &__content {
    padding: $padding;
  }
}

@media #{$screen-large} {
  .block2 {
    $padding: 40px;
    &__header, &__content {
      padding: $padding;
    }
  }
}

.block2--with-gap {
  @extend .grid-gap--bottom;
}

.block--white {
  background-color: #fff;
}

@media #{$screen-large} {
  .block--actual-news {

  }
}
