.copyrights {
  background-color: $color-white;
  padding: 20px;
  font-size: $font-size--smaller;
  line-height: 17px;
  color: $color-gray;
  margin-bottom: 20px;
  &__item {
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }
  &__title {
    @extend .roboto-bold;
  }
}