.countdown {
  white-space: nowrap;
  &__item {
    & + & {
      margin-left: 5px;
    }
  }

  &__label {
    color: $color-gray;
    text-transform: uppercase;
  }

  &__value {
    font-weight: 700;
    margin-right: 5px;
    text-transform: uppercase;
  }
}