.footer {
  @extend .row;
  background-color: $color-footer;
  margin-bottom: 0;

  &__inner {
    height: 100%;
    margin-bottom: 0;
    padding: 40px 0 15px;
    @extend .full-width;
    @extend .row-flex;
  }

  &__line {
    flex-basis: 100%;
    justify-content: flex-start;
    @extend .row-flex;
    align-items: center;

    &_first {
      padding-bottom: 35px;
      margin-bottom: 30px;
      border-bottom: 1px solid rgba(223, 228, 236, 0.2);
    }
  }

  &__logo {
    display: flex;

    & .icon-logo {
      fill: $color-white--footer;
    }
  }

  &__nav {
    display: flex;
    color: $color-white--footer;
    margin-left: 100px;
    @extend .visible-inline-block-large;
    @extend .hidden-medium;
    @extend .hidden-small;
    @extend .hidden-xs;

    &-item {
      font-size: $font-size--small;
      letter-spacing: 1.1px;
      color: $color-white--footer;
      text-transform: uppercase;
      @extend .roboto-regular;

      & + & {
        margin-left: 40px;
      }

      &:hover {
        color: $color-white--footer!important;
      }
    }
  }

  &__menu {
    &-item {
      font-size: $font-size--smaller;
      color: $color-white--footer;

      & + & {
        margin-left: 20px;
      }

      &:hover {
        color: $color-white--footer!important;
      }
    }
  }

  &__text {
    max-width: 788px;
    padding-top: 30px;
    font-size: $font-size--smaller;
    line-height: 17px;
    color: $color-white--footer;
  }
}
