.header {
  height: 251px;
  background: url(../images/header-bg--1x.png) no-repeat center center;
  background-size: cover;
  @extend .row;
  &__inner {
    height: 100%;
    position: relative;
    @extend .row-flex;
    @extend .full-width;
  }
  &__text {
    position: absolute;
    max-width: 263px;
    left: 0;
    top: 60px;
    @media #{$screen-small} {
      max-width: 100%;
      width: 100%;
      text-align: center;
      top: 15px;
    }
  }
  &__logo {
    font-size: $font-size--biggest + 2px;
    /*text-shadow: 0 1px 30px rgba(0, 0, 0, 0.65);*/
    line-height: 42px;
    color: $color-white;
    margin-bottom: 15px;
    cursor: pointer;
    @extend .roboto-regular;
  }
  &__date {
    font-size: $font-size--smaller;
    height: 32px;
    line-height: 32px + 1px;
    width: 81px;
    text-align: center;
    background-color: $color-white;
    color: $color-bright-gray;
    text-transform: uppercase;
    @include roboto-medium;

    @media #{$screen-small} {
      display: none;
    }
  }
  &__link {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 18px;
    font-size: $font-size--smaller;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    &, a {
      color: $color-white;
    }

    @media #{$screen-medium_small} {
      max-width: 202px;
    }
    @extend .roboto-regular;
  }
  &__announcement {
    position: absolute;
    bottom: 0;
    right: 0;
    @media #{$screen-small} {
      left: 50%;
      margin-left: -150px;
    }
  }
}

.header-announcement {
  width: 300px;
  height: 180px;
  background-color: $color-white;
  &__inner {
    padding: 18px 20px 0;
    text-align: center;
  }
  &__scoreboard {
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__team {
    display: flex;
    align-items: center;
    font-size: $font-size--big;
  }
  &__flag {
    display: inline-block!important;
    vertical-align: middle;
  }
  &__side {
    display: inline-block;
    vertical-align: middle;
    &-1 {
      margin-right: 10px;
    }
    &-2 {
      margin-left: 10px;
    }
  }
  &__score {
    display: inline-block;
    vertical-align: middle;
    margin: 0 16px;
    font-size: $font-size--score;
    letter-spacing: 1.2px;
    @include roboto-bold;
  }
  &__game {
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
  }
  &__time {
    color: $color-bright-gray;
    font-size: $font-size--smaller;
    letter-spacing: 1px;
    @extend .roboto-regular;
  }
  &__period {
    margin-right: 10px;
    color: $color-red;
    font-size: $font-size--smaller;
    text-transform: uppercase;
    letter-spacing: 1px;
    @extend .roboto-medium;
  }
  &__live {
    padding: 0 44px;
    font-size: $font-size--small;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 3px;
    @extend .button;
    @extend .button--size-md;
    @extend .button--blue;
    @extend .roboto-medium;
    &:hover {
      color: $color-white !important;
    }
  }
  &__partner {
    display: block;
    height: 43px;
    margin: 0 -20px;
    line-height: 43px;
    font-size: $font-size--small;
    color: $color-gray;
    @extend .roboto-regular;
    &--counter {
      border-top: 1px solid $color-gray--border;
    }
    .icon {
      @include icon-color-modifier(#858994);
    }
  }
  &__event {
    max-width: 135px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 16px;
    font-size: $font-size--big;
    color: $color-bright-gray;
    line-height: 26px;
  }
  &__timer {
    display: block;
    margin: 0 auto;
    padding-bottom: 27px;
    font-size: $font-size--small;
    letter-spacing: 1px;
    color: $color-bright-gray;
    @extend .roboto-medium;
    &--gray {
      height: 44px;
      padding: 0;
      margin: 18px -20px 0;
      line-height: 44px;
      background-color: $color-background;
    }
    &--counter {
      max-width: 135px;
    }
  }
  &__championat {
    margin: 0 2px 0 3px;
  }
}
