html.mobile {
  background-color: transparent;
  body {
    background-color: transparent;
  }
}

.rambler-hockey-informer {
  height: 390px;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  min-width: 920px;

  &__inner {
    width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 1239px) {
      width: 930px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
  }

  &__title h1 {
    font-size: 24px;
    font-weight: 400;
    color: $color-white;
  }

  &__date {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 300;
    color: $color-white;
    text-transform: uppercase;
  }

  &__blocks {
    display: flex;
    justify-content: space-between;
  }

  &__announcement {
    position: relative;
    width: 280px;
    height: 240px;
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-shrink: 0;
    @media screen and (min-width: 1240px) {
      width: 580px;
    }

    &-player {
      display: none;
      background: url('../images/iframe-player.png') no-repeat;
      width: 391px;
      height: 409px;
      position: absolute;
      left: -90px;
      bottom: -55px;
      z-index: 1;
      transform: translate3d(0, 0, 0);
      transition: transform .3s ease;
      @media screen and (min-width: 1240px) {
        display: block;
      }

      &:hover {
        transform: translate3d(10px, 0, 0);
      }
    }

    .header-announcement {
      position: relative;
      height: 220px;
      background: none;
      margin-left: 0;
      left: 0;
    }

    .header-announcement__side {
      letter-spacing: 1px;
    }

    .header-announcement__partner {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .header-announcement__partner--counter {
      border: 0;
    }
  }

  &__article {
    .sketch {
      height: 240px;
    }
    .sketch__date {
      display: none;
    }
    .sketch__description {
      padding-top: 10px;
    }
    .sketch__img {
      margin-top: -70px;
    }
  }

  &__news {
    .latest-news__caption {
      display: none;
    }
    .latest-news {
      width: 280px;
      height: 240px;
      margin-bottom: 0;
    }
    .latest-news__button {
      display: none;
    }
    .latest-news__list {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .latest-news__inner {
      padding: 10px 20px;
    }
    .latest-news__item {
      width: 100%;
      height: 70px;
      padding-bottom: 10px;
      padding-top: 10px;
      flex-wrap: nowrap;
    }
    .latest-news__title {
      height: 32px;
    }
    .latest-news__item:last-child::after {
      display: none;
    }
  }
}

.rambler-hockey-informer-stats {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 40px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  transition: background-color .1s linear;
  &:hover {
    background-color: #ecf0f3;
  }

  &__country {
    display: flex;
    color: $color-bright-gray;
    align-items: center;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;

    .flag {
      margin-right: 10px;
    }
  }

  &__values {
    margin-left: 20px;
    display: flex;
    font-size: 14px;
  }

  &__label {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-gray;
    font-size: 12px;
    margin-right: 5px;
  }

  &__value {
    font-weight: 600;
    color: $color-bright-gray;
    margin-right: 25px;
    font-size: 12px;
    letter-spacing: 1px;

    &--red {
      color: $color-red;
    }
  }

  &__info {
    margin-left: 40px;
    color: $color-bright-gray;
    font-weight: 500;
  }
}

.rambler-hockey-mobile-informer {
  background: url('../images/iframe-bg.jpg') center no-repeat;
  background-size: cover;
  width: 290px;
  height: 280px;
  padding: 0 20px 20px;

  &__title {
    h3 {
      line-height: 42px;
      font-size: 14px;
      font-weight: 400;
      color: $color-white;
    }
  }

  &__country {
    display: flex;
    color: $color-white;
    font-size: 12px;
    font-weight: 300;
    align-items: center;

    .flag {
      margin-right: 5px;
    }
  }

  &__announcement {
    .header-announcement {
      position: relative;
      left: 0;
      margin: 0;
      width: 250px;
      height: 150px;
    }
    .header-announcement__event {
      padding-top: 0;
      padding-bottom: 8px;
    }
    .header-announcement__scoreboard {
      margin-bottom: 10px;
    }
    .header-announcement__game {
      margin-bottom: 10px;
    }
    .header-announcement__timer {
      margin-top: 0;
      height: 35px;
      line-height: 35px;
      padding-bottom: 8px;
    }
    .header-announcement__live {
      height: 30px;
      width: 100%;
    }
    .header-announcement__partner {
      height: 37px;
      line-height: 37px;
    }
  }
}

.rambler-hockey-informer-mobile-stats {
  height: 20px;
  width: 100%;
  background-color: $color-white;
  margin-top: 11px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__values {
    display: flex;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__label {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-gray;
    margin-right: 3px;
  }

  &__value {
    font-weight: 600;
    color: $color-bright-gray;
    margin-right: 10px;

    &--red {
      color: $color-red;
    }
  }

  &__info {
    color: $color-bright-gray;
    font-weight: 500;
    font-size: 12px;
  }
}
