.latest-news {
  @extend .grid-gap--bottom;
  position: relative;
  height: 680px;
  background-color: $color-white;

  &__caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid $color-border-gray;
    &-text {
      font-size: $font-size--big;
      padding: 0 20px;
      @extend .roboto-medium;
    }
  }
  &__inner {
    height: calc(100%);
    padding: 62px 20px 76px 20px;
  }
  &__list {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  &__item {
    width: 100%;
    height: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    &:after {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      left: -20px;
      width: calc(100% + 40px);
      height: 1px;
      background-color: $color-border-gray;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  &__title {
    position: relative;
    width: 100%; // ie fix
    margin-top: 5px;
    overflow: hidden;
    font-size: $font-size;
    line-height: 1.2;
    @extend .roboto-medium;

    &::after {
      content: "\007C\00a0\00a0";
      color: transparent;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 40px;
      font-size: inherit;
      background-image:linear-gradient(to right, rgba(255, 255, 255, 0), #fff 75%);
    }
  }
  &__date {
    font-size: $font-size--smaller;
    color: $color-gray;
    text-transform: uppercase;
  }
  &__button {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px;
    border-top: 1px solid $color-border-gray;
    .button {
      height: 34px + 2px; // 2px = border
      @extend .hover-transition;
    }
  }
}

.section-left {
  .latest-news {
    @extend .column-14;
  }
}

.section-right {
  .latest-news {
    width: 100%;
  }
}
