.live-video {
  position: relative;
  width: 100%;
  background: url('../images/live-video.png') no-repeat;
  background-size: cover;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;

  &__label {
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 300;
    color: $color-white;
  }

  &__info {
    flex-basis: 100%;
    align-items: center;
    width: 100%;
    color: $color-white;
    display: flex;
    margin-left: 20px;
    margin-bottom: 10px;
    text-transform: none;
  }

  &__team {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
    display: flex;
    align-items: center;

    .flag:last-child {
      margin-left: 10px;
    }

    .flag:first-child {
      margin-right: 10px;
    }
  }

  &__team-dash {
    margin-left: 10px;
    margin-right: 10px;
    font-family: Verdana, sans-serif;
  }

  &__time {
    flex-basis: 100%;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 300;
    color: $color-white;
  }

  &--online {
    cursor: pointer;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, .3);
      transition: background-color .1s;
    }

    &:hover::before {
      background-color: rgba(0, 0, 0, 0);
    }
  }

}