.nav {
  @extend .dummy;
  &__topline {
    height: 36px;
  }
  &__sub {
    height: 56px;
    display: flex;
    background-color: $color-white;
  }
  &__inner {
    height: 100%;
    margin-bottom: 0;
    align-items: center;
    @extend .full-width;
    @extend .row-flex;
    flex-wrap: nowrap;
  }
  &__logo {
    & .icon-logo {
      fill: $brand-primary;
    }
  }
  &__links {
    display: flex;
    position: relative;

    &-item {
      font-size: $font-size--bigger;
      @extend .hover-transition;

      & + & {
        margin-left: 55px;

        @media #{$screen-small} {
          margin-left: 40px;
        }
      }
      &:hover {
        color: $brand-primary;
      }
      &--active {
        @extend .roboto-medium;
      }
    }
  }

  .rambler-topline__logo {
    display: none;
  }

  .rambler-topline__projects {
    padding-left: 0;
  }

  @media #{$screen-small} {
    .rambler-topline__logo {
      display: flex;
    }

    .rambler-topline__projects {
      padding-left: 20px;
    }

    .nav__logo {
      display: none;
    }

    .nav__links {
      justify-content: space-between;
      width: 100%;
    }

    .nav__links-item + .nav__links-item {
      margin-left: 0;
    }
  }
}
