.news-feed {
  width: 100%;
  margin-bottom: 20px;
  background-color: $color-white;

  &__inner {
    padding: 40px 120px 40px 60px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    &:first-child {
      padding-top: 60px;
    }
    & + & {
      padding-top: 20px;
    }
  }
  &__caption {
    margin-left: 100px;
    font-size: $font-size--header;
    @extend .roboto-light;
  }
  &__news {
    margin-bottom: 20px;
  }
  &__date {
    min-width: 50px;
    text-align: center;
    font-size: $font-size--date;
    @extend .roboto-regular;
  }
  &__content {
    margin-left: 50px;
    & > * {
      width: 100%;
    }
  }
  &-date {
    &__month {
      font-size: $font-size--bigger;
    }
  }
  &__time {
    font-size: $font-size--smaller;
    text-transform: uppercase;
    color: $color-gray;
    @extend .roboto-regular;
  }
  &__category {
    margin-left: 10px;
    font-size: $font-size--smaller;
    text-transform: uppercase;
    color: $color-gray;
    @extend .roboto-regular;
  }
  &__title {
    display: block;
    margin-top: 10px;
    font-size: $font-size--big;
  }
  &__text {
    margin-top: 24px;
    font-size: $font-size;
    line-height: 1.5;
    color: $color-gray;
    @extend .roboto-regular;
  }

  .adfox-superfooter,
  .adfox-superfooter0,
  .adfox-context {
    margin: 60px 0;
  }

  .adfox-superfooter0 {
    position: relative;
    width: 100%;
    height: 300px;
    & > * {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__pagination {
    .pagination__inner {
      padding-top: 0;
    }
  }
}

@media #{$screen-medium_small} {
  .news-feed {
    .adfox-superfooter0 {
      & > * {
        left: -160px;
        width: 580px !important;
      }
    }
  }
}
