.pagination {
  text-align: center;
  &__inner {
    position: relative;
    padding-top: 50px;
    margin-left: 100px;
  }
  &__arrow {
    @include icon-angle-left(15px/11px);
    position: absolute;
    bottom: 0;
    &-left {
      left: 0;
    }
    &-right {
      right: 0;
    }
  }
  &__numbers {
    display: inline-block;
    vertical-align: middle;
  }
  &__item {
    margin-right: 23px;
    font-size: $font-size;
    line-height: 1.3;
    @extend .roboto-regular;
  }
}