.read-more {
  @extend .roboto-medium;
  &__title {
    font-size: $font-size--header;
    margin-bottom: 25px;
  }
  &__item {
    display: block;
    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }
}
