.schedule-full {
  &__content {
    padding-right: 0;
    overflow: hidden;

    .adfox-superfooter, .adfox-superfooter0 {
      margin-bottom: 0;
      margin-right: 40px;
      margin-top: 40px;
      width: auto;
    }
  }
  &__table {
    .schedule-full-delim:last-child {
      display: none;
    }
  }
}


/*@media #{$screen-medium_small} {
  .schedule-full__content {
    padding-right: 20px;
  }
}*/

.schedule-full-delim {
  $gap--between: 22px;

  > * {

  }

  &__td {
    padding: $gap--between - 1px 0 $gap--between 0;
    position: relative;
    overflow: visible;
    top: (-20px / 4); //margin bottom cell / 2 / 2
    left: 0;
    &:before {
      position: absolute;
      width: 10000px;
      display: block;
      content: "";
      height: 1px;
      background-color: $color-background;
    }
  }
}
