.schedule-full-row {
  $margin--bottom: 16px;
  $height: 18px;

  color: $color-bright-gray;
  cursor: pointer;
  letter-spacing: 1px;
  @extend .hover-transition;

  &:hover {
    td {
      background-color: #f6f8f9;
    }
  }

  > * {
    height: $height + $margin--bottom;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 9px;
    white-space: nowrap;
  }

  &__date {
    background: none !important;
    letter-spacing: normal;
    padding-right: 32px;
    text-align: center;
    vertical-align: top;

    &-day {
      font-size: $font-size--biggest + 8px;
      margin-bottom: 4px;
      padding-top: 5px;
    }
    &-month {
      font-size: $font-size;
    }
  }
  &__time {
    font-size: $font-size--small;
    padding-left: 32px;
    padding-right: 94px;
    @include roboto-medium;
  }
  &__stage {
    font-size: $font-size--smaller;
    padding-right: 80px;
    text-transform: uppercase;
  }
  &__status-time {
    display: none;
    text-transform: uppercase;
    font-size: $font-size--smaller;
  }
  &__status {
    font-size: $font-size--smaller;
    padding-right: 84px;
    text-transform: uppercase;
  }
  &__flag {
    width: 21px;
  }
  &__side1, &__side2 {
    font-size: $font-size--small;
    width: 28px + 10px;
    @include roboto-medium;
  }
  &__side1 {
    text-align: left;
  }
  &__side2 {
    padding-right: 32px;
    text-align: right;
    width: 70px;
  }
  &__score {
    text-align: center;
    //border-left: 9px solid transparent;
    //border-right: 9px solid transparent;
    padding: 0 9px;
    width: 30px + 18px;
    /*padding-top: 1px;*/
    &-text {
      display: inline-block;
      width: 30px;
      height: 18px;
      line-height: 18px + 1px;
      font-size: $font-size--smaller;
      text-align: center;
      @include roboto-medium;
    }
  }
  //
  &__stage, &__status {
    opacity: 0.6;
  }
}

.schedule-full-row--live {
  .schedule-full-row__status-time, .schedule-full-row__status {
    color: $color-red;
    opacity: 1;
    @include roboto-medium;
  }
  .schedule-full-row__score {

  }
}

.schedule-full-row--past {
  .schedule-full-row__status-time {
    color: $color-bright-gray;
    opacity: 0.6;
    /*@include roboto-medium;*/
  }
  .schedule-full-row__score-text {
    background-color: $color-background;
  }
}

/*.schedule-full-row--scheduled {
  .schedule-full-row__status-time {

  }
}*/


@media #{$screen-medium_small} {
  .schedule-full-row {
    &__date {
      padding-right: 35px;
    }
    &__time {
      padding-right: 40px;
    }
    &__status-time {
      display: table-cell;
      padding-left: 10px;
      padding-right: 38px;
    }
    &__stage {
      padding-right: 78px;
    }
    &__status, &__time {
      display: none;
    }
    &__side2 {
      padding-left: 10px;
      padding-right: 10px;
      text-align: right;
      width: 58px;
    }
  }
}
