.schedule {
  @extend .grid-gap--bottom;

  $header--height: 50px;

  position: relative;

  &__content-wrapper {
    overflow: hidden;
    background-color: #fff;
  }
  &__content {
    margin: 0 -0.5px; // fix inner margin
    display: flex;
    // overflow: hidden;
  }
  .schedule-table__delim {
    top: $header--height + 1px;
  }
}

.schedule-table {
  $margin--between: 1px;

  position: relative;
  background-color: $color-white;

  /*overflow: hidden;*/
  // to keep delim

  &__header {
    width: 100%;
    font-size: $font-size--small;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
    color: $color-bright-gray;
    text-transform: uppercase;
    @include roboto-medium;
    &-weekday {
      display: inline-block;
      margin-left: 15px;
      font-size: $font-size--smaller;
      @include roboto-regular;
    }
    &-date {
      display: inline-block;
      margin-left: 6px;
      opacity: 0.6;
      font-size: $font-size--smaller;
      @include roboto-regular;
    }
  }
  &__content {
    display: flex;
    margin: 0 (-$margin--between / 2);
    justify-content: space-between;
    width: calc(100% + 1px);
    /*flex-basis: 100%;*/
  }
  &__delim {
    position: absolute;
    left: 50%;
    margin-left: -0.5px;
    width: 1px;
    height: calc(100%);
    background-color: $color-background;
  }
  /* Modificators */
  &--today {
    .schedule-table__header {

    }
  }
}

.schedule-table__matches {
  $padding: 14px;
  $margin-vertical: 10px;

  /*border-spacing: 0 ($margin-vertical / 2);*/
  border-collapse: separate;

  width: 100%;
  color: $color-bright-gray;

  &-wrapper {
    width: calc(50% - 0.5px);
    /*padding-top: $padding - ($margin-vertical / 2);
    padding-bottom: $padding - ($margin-vertical / 2);*/
  }
}

.schedule-table__match {
  $height: 36px;

  $score--width: 38px;
  $side--width: 42px;
  $score--padding: 7px;
  $side--padding: 10px;
  $lef-right--width: 115px;

  cursor: pointer;
  height: $height;
  line-height: $height;
  @extend .hover-transition;

  &:hover {
    background-color: #f6f8f9;
  }
  & > * {
    border-bottom: 1px solid $color-background;
  }
  &-status {
    width: $lef-right--width;
    letter-spacing: 1px;
    font-size: $font-size--small;
    padding-left: 20px;
    text-transform: uppercase;
    @include roboto-medium;
  }
  &-side1 {
    text-align: right;
  }
  &-flag1 {
    padding-left: $side--padding;
    padding-right: $score--padding;
  }
  &-score {
    width: $score--width;
    text-align: center;
    @include roboto-medium;
    &-text {
      display: inline-block;
      width: 30px;
      height: 18px;

      font-size: $font-size--smaller;
      vertical-align: middle;
      line-height: 18px + 1px;
    }
  }
  &-side2 {
    text-align: left;
  }
  &-flag2 {
    padding-left: $score--padding;
    padding-right: $side--padding;
  }
  &-side1, &-side2 {
    width: $side--width;
    font-size: $font-size--small;
    @extend .roboto-medium;
  }
  &-flag1, &-flag2 {
    vertical-align: middle;
    width: 21px + $score--padding + $side--padding;
  }
  &-live {
    vertical-align: middle;
    text-align: center;
    padding-right: 5px;
  }
  &-group {
    display: none;
    width: $lef-right--width;
    font-size: $font-size--smaller;
    letter-spacing: 1px;
    color: $color-bright-gray;
    opacity: 0.6;
    text-align: right;
    padding-right: 20px;
    text-transform: uppercase;
  }
  /* Modificators */
  &:hover {
    td {
      @extend .hover-transition;
    }
  }
  &--past {
    .schedule-table__match-status {
      font-size: $font-size--smaller;
      letter-spacing: 1px;
      color: $color-bright-gray;
      opacity: 0.6;
      @include roboto-regular;
    }
    .schedule-table__match-score-text {
      background-color: $color-background;
    }
  }
  &--live {
    .schedule-table__match-score {
      /*color: $color-white;*/
    }
    .schedule-table__match-status {
      color: $color-red;
      font-size: $font-size--smaller;
      letter-spacing: 1px;
      white-space: nowrap;
      @include roboto-medium;
    }
    .schedule__live, .schedule__period {
      visibility: visible;
    }
  }
  &--scheduled {
    .schedule-table__match-score {
      @extend .roboto-medium;
      color: $color-dusty-gray;
      font-size: $font-size--small;
    }
  }
}

@media #{$screen-large} {
  .schedule-table__match-group {
    display: table-cell;
  }
}

@media #{$screen-medium} {
  .schedule-table__match-status {
    width: 30px;
  }
  .schedule-table__match-group {
    display: none;
  }
  .schedule-table__match-side2 {
    padding-right: 20px;
  }
}

/*.schedule__period {
  $period--width: 18px;
  width: $period--width;
  color: $color-white;
  visibility: hidden;
  font-family: "Times New Roman", serif;
}*/
