$sketch-animate--top: 57px;

.sketches {

}

.sketch {
  @extend .grid-gap--bottom;

  height: 330px;
  background-color: $color-white;
  display: block;
  overflow: hidden;

  &_top {
    &:nth-child(3),
    &:nth-child(4) {
      display: none;
    }

    @media #{$screen-large} {
      &:nth-child(3),
      &:nth-child(4) {
        display: block;
      }
    }
  }

  &_bottom {
    &:nth-child(5),
    &:nth-child(6) {
      display: none;
    }

    @media #{$screen-large} {
      &:nth-child(5),
      &:nth-child(6) {
        display: block;
      }
    }
  }

  @extend .column-14;
  //@media #{$screen-large} {
  //  &:nth-child(even) {
  //    display: block;
  //  }
  //}


  &__link {
    display: block;
    height: 100%;
    max-height: 100%;
    background-position: top center;
    background-size: cover;
  }
  &__description, &__text {
    padding: 20px;
  }
  &__live {
    color: $color-red;
    margin-left: 10px;
  }
  &__title {
    position: relative;
    height: 64px; // 3 lines
    margin-top: 10px;
    overflow: hidden;
    font-size: $font-size--big;
    color: $color-black;
    @extend .roboto-medium;

    &::after {
      content: "\007C\00a0\00a0";
      color: transparent;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 70px;
      font-size: inherit;
      background-image:linear-gradient(to right, rgba(255, 255, 255, 0), #fff 75%);
    }

    &_head {
      height: auto;
      position: absolute;
      z-index: 2;
      left: 30px;
      bottom: 30px;
      font-size: $font-size--biggest;
      color: $color-white;
      max-width: 500px;

      &::after {
        display: none;
      }

      @media #{$screen-extra-small} {
        left: 20px;
        font-size: $font-size--big;
        max-width: 190px;
      }
    }
  }
  &__date {
    position: relative;
    color: $color-gray;
    font-size: $font-size--smaller;
    text-transform: uppercase;
  }
  &__img {
    max-width: 100%;
    display: block;

    &_head {
      height: 100%;
    }
  }
  &__live-head, &__icon-play {
    display: none;
  }
  &__text {
    padding-top: 0;
    margin-top: 10px - 20px;
    font-size: $font-size - 1px;
    line-height: 1.3;
    opacity: 0;
    max-height: 48px; // 3 lines
    overflow: hidden;
    position: relative;
    @extend .roboto-regular;
    color: rgba($color-black, 0.7);
    &::after {
      content: "\007C\00a0\00a0";
      color: transparent;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 70px;
      font-size: inherit;
      background-image:linear-gradient(to right, rgba(255, 255, 255, 0), #fff 75%);
    }
  }
}

.sketch {
  .sketch__animate, .sketch__img {
    transition: all .1s 0s;
  }
  .sketch__text {
    transition: all .1s 0s;
  }
}

.sketch:hover {
  .sketch__animate {
    transform: translate3d(0, -$sketch-animate--top, 0);
    transition: all ease-in-out 0.3s;
  }
  .sketch__img {
    opacity: 0.6;
    transition: all ease-in-out 0.3s;
  }
  .sketch__text {
    transform: translate3d(0, -$sketch-animate--top, 0);
    opacity: 1;
    transition: all ease-in-out 0.3s;
  }
}

.sketch--feature {
  position: relative;
  margin-top: 0;
  width: 100%;
  height: 450px;
  .sketch__img_head {
    height: auto;
    max-height: 100%;
  }
}

.sketch--online {
  .sketch__live-head {
    display: block;
    position: absolute;
    left: 30px;
    top: 30px;

    text-transform: uppercase;
    font-size: $font-size--smaller;
    letter-spacing: 1px;
    color: $color-white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);

    @media #{$screen-extra-small} {
      left: 20px;
    }
  }
}

.sketch--video {
  .sketch__icon-play {
    @include icon-video-full(72px/28px);
    @extend .icon-modifier--brand-primary;

    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
  }
}

.sketch--online, .sketch--video {
  .sketch__link:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0.4;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
