.standings {
  @extend .grid-gap--bottom;

  $arrow--margin: 27px;
  $header__height: 50px;

  position: relative;
  width: 100%;

  &__content-wrapper {
    overflow: hidden;
  }
  &__content {
    margin: 0 -0.5px; // fix inner margin
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__left {
    left: -$arrow--margin;
  }
  &__right {
    right: -$arrow--margin;
  }
  &__left, &__right {
    position: absolute;
    display: none;
    top: -1px; // like center
    height: $header__height;
    line-height: $header__height;
  }
  &__arrow {
    cursor: pointer;
    @include icon-angle-left(15px/11px);
  }
  &__more {
    width: 100%;
    flex-basis: 100%;
    height: 36px + 1px;
    line-height: 36px + 1px;
    text-align: center;

    border-top: 1px solid $color-background;
    background-color: $color-white;
    letter-spacing: 1px;
    font-size: $font-size--smaller;
    color: #858994;

    cursor: pointer;
  }
}

.standing-group {
  $margin: 1px;

  background-color: $color-white;
  width: calc(50% - 0.5px);
  position: relative;
  //@extend .column-medium-29;
  &:nth-child(2) {
    .standing-group__header-left {
      display: none;
    }
  }

  &__header {
    width: 100%;

    color: $color-bright-gray;
    text-align: center;

    text-transform: uppercase;
    padding: 0 20px;
    border-bottom: 1px solid $color-background;
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
    &-left {
      font-size: $font-size--small;
      @include roboto-medium;
    }
    &-right {
      font-size: $font-size--smaller;
    }
  }
  &__content {
    display: flex;
  }
  .schedule-table__delim {
    top: 50px;
  }
  &:hover {
    .standing-group__header {
      /*@extend .hover-transition;
      color: $color-blue;*/
    }
  }
}

@media #{$screen-medium_small} {
  .standing-table__header {
    th:nth-child(4), th:nth-child(5), th:nth-child(7) {
      display: none;
    }
    /*th:last-child {
      padding-right: 5px !important;
    }*/
  }
  .standing-table-team {
    td:nth-child(6), td:nth-child(7), td:nth-child(9) {
      display: none;
    }
    /*td:last-child {
      padding-right: 5px !important;
    }*/
  }
}


.standing-table {
  $th--padding: 12px;
  $th--padding-bottom: 1px;
  $th-big--width: 45px;

  $vertical--margin: 8px;
  $margin-bottom: 15px;

  width: 100%;
  /*border-collapse: separate;
  border-spacing: 0 $vertical--margin;*/
  /*margin-top: -2px;*/

  &__wrapper {
    width: 100%;
  }
  &__header {
    font-size: $font-size--smaller;
    color: #8c8c8c;
    height: 30px;
    th {
      @extend .roboto-regular;
      padding: 0 $th--padding;
      white-space: nowrap;
      letter-spacing: 1px;
      &:last-child {
        padding-right: 0;
        text-align: center;
      }
    }
  }
  tr {
    > *:first-child {
      padding-left: 20px;
    }
    > *:last-child {
      padding-right: 20px;
    }
  }
}

.standing-table-team {
  $flag--padding-left: 8px;
  $flag--padding-right: 11px;
  $title--width: 100%;

  color: $color-bright-gray;
  font-size: $font-size--small;
  height: 36px;
  @extend .hover-transition;

  &:hover {
    background-color: #f6f8f9;
  }
  &__title {
    @extend .roboto-medium;
    color: $color-bright-gray;
    width: $title--width;
    letter-spacing: 1px;
  }
  &__flag {
    vertical-align: middle;
    padding-left: $flag--padding-left;
    padding-right: $flag--padding-right;
    width: 21px + $flag--padding-left + $flag--padding-right;
  }
  &__score, &__data {
    text-align: center;
  }
  &__score {
    color: $color-red;
    text-align: center;
    padding-right: 0;
    padding-left: 11px;
  }

  /* Modificators */
  &--leader {
    .standing-table-team__place {
      color: $color-blue;
    }
  }
}

.standing-playoff {
  $margin: 1px;
  $matches--height: 210px;

  background-color: $color-white;
  width: 100%;
  margin: 0 ($margin / 2);
  position: relative;

  &__header {
    width: 100%;

    color: $color-bright-gray;
    text-align: center;

    text-transform: uppercase;
    padding: 0 20px;
    border-bottom: 1px solid $color-background;
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
    &-left {
      font-size: $font-size--small;
      @include roboto-medium;
    }
  }
  &__content {
    position: relative;
  }
  &__labels {

  }
  &__matches {
    position: absolute;
    top: 53px;
    left: 0;
    width: 100%;
  }
  &__label {
    display: inline-block;
    width: 20%;
    height: $matches--height;
    position: relative;
    &-text {
      padding: 20px 0;
      color: $color-bright-gray;
      opacity: 0.6;
      letter-spacing: 1px;
      font-size: $font-size--smaller;
      text-align: center;
      &--bottom {
        position: absolute;
        top: 91px;
        left: 0;
        width: 100%;
      }
    }
    &:not(:last-child) {
      border-right: 1px solid $color-background;
    }
  }
  &__match {
    position: absolute;
  }
  &__match, &__label {
    width: 20%;

  }
}

$ph: 33px;

/* EBA CODE */

$matches: (
  14: ((0%, 0) (0%, $ph + 40px) (80%, 0) (80%, $ph + 40px)),
  12: ((20%, 37px) (60%, 37px)),
  3: ((40%, 102px),),
  1: ((40%, 0),)
);

/* EBA CODE MEDIUM */

$matches--medium_small: (
  14: ((0%, 0), (0%, $ph + 20px), (0%, $ph * 2 + 40px), (0%, $ph * 3 + 60px)),
  12: ((33.3%, 26px), (33.3%, 132px)),
  3: ((66.6%, 132px),),
  1: ((66.6%, 26px),)
);

.standing-playoff-match {
  $i: 1;
  @each $round, $items in $matches {
    @each $left, $top in $items {
      &--#{$round}:nth-child(#{$i}) {
        top: $top;
        left: $left;
      }
      $i: $i + 1;
    }
  }
}
@media #{$screen-medium_small} {
  .standing-playoff-match {
    $i: 1;
    @each $round, $items in $matches--medium_small {
      @each $left, $top in $items {
        &--#{$round}:nth-child(#{$i}) {
          top: $top;
          left: $left;
        }
        $i: $i + 1;
      }
    }
  }
  .standing-playoff__match, .standing-playoff__label {
    width: 33.33%;
  }
  .standing-playoff__labels {
    .standing-playoff__label {
      height: 245px + 20px;
      &:nth-child(4), &:nth-child(5) {
        display: none;
      }
      &:nth-child(3) {
        border: none;
      }
    }
  }
  .standing-playoff__label-text--bottom {
    top: 132px - 23px + 20px;
  }
}
