.top-players-type {
  $delim--margin: 20px;
  $stats--margin: 12px;
  width: calc(33.33% - (41px * 2 / 3)); // IE

  > * {
    width: 100%; // IE
  }

  &__header {
    @extend .roboto-medium;
    font-size: $font-size--big;
    margin-bottom: 18px;
    width: 100%;
    order: 1;
  }
  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__first-info {
    order: 2;
  }
  &__first-stats {
    margin-top: $stats--margin;
    order: 3;
  }
  &__delim {
    order: 4;
    background-color: rgba($color-blue, 0.1);
    height: 1px;
    width: 100%;
    margin: $delim--margin 0;
  }
  &__stats {
    order: 5;
  }
}

/* Modificators */
.top-players-type {
  &--bombardiers {
    .top-players-first-info__circle {
      border-color: $color-red;
    }
  }
  &--assistants {
    .top-players-first-info__circle {
      border-color: $color-orange;
    }
    .top-players-type__first-stats {
      width: 50%;
    }
  }
  &--goalkeepers {
    .top-players-first-info__circle {
      border-color: rgba($color-blue, 0.2);
    }
  }
}

/* Media */
@media #{$screen-medium_small} {
  .top-players-type {
    $gap--between: 50px;
    width: 100%;

    &__first-info, &__first-stats {
      padding-right: ($gap--between/2);
    }
    &__first-info {
      width: 50%;
      order: 2;
    }
    &__first-stats {
      order: 4;
      width: 50%;
    }
    &__stats {
      order: 3;
      position: absolute;
      top: 0;
      width: 50%;
      right: 0;

      padding-left: ($gap--between/2);
    }
    &__delim {
      display: none;
    }
  }
  .top-players-type--assistants {
    .top-players-type__first-stats {
      width: 25%;
    }
  }
}
