.top-players-first-info {
  $gap-between: 28px;

  display: flex;
  flex-wrap: nowrap;

  &__photo {
    width: 102px; // IE
    height: 102px; // IE
  }
  &__circle {
    border: 6px solid transparent;
    width: 102px;
    height: 102px;
    border-radius: 50%;
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: $gap-between;
    width: calc(100% - 102px); // IE
  }
  &__name {
    @extend .roboto-medium;
    color: $color-blue;
    margin-bottom: 10px;
  }
  &__flag {
    @extend .roboto-medium;
    font-size: $font-size--small;
    display: flex;
    align-items: center;
    .flag {
      margin-right: 8px;
    }
  }
  &__img {
    border-radius: 50%;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
    }
  }
}

.top-players-first-stats {
  $label--height: 26px;
  $label--margin: 3px;

  display: flex;
  justify-content: space-between;
  &__label {
    font-size: $font-size--smaller;
    color: $color-gray;

    display: flex;
    align-items: flex-end;

    height: $label--height;
    margin-bottom: $label--margin;
  }
  &__value {
    font-size: $font-size--biggest;
  }
  &__item {
    /* -- */
    &--goals {
      .top-players-first-stats__value {
        color: $color-red;
      }
    }
    &--assists {
      .top-players-first-stats__value {
        color: $color-orange;
      }
    }
  }
}
