.top-players-stats {
  $th--bottom: 9px;
  $th--width: 25px;
  $td--bottom: 6px;
  $name--min-height: 33px;

  &__table {
    width: 100%;
  }
  th {
    font-size: $font-size--smaller;
    color: $color-gray;
    padding-bottom: $th--bottom;
    white-space: nowrap;
    width: $th--width;
    min-width: $th--width;
    &:last-child {
      padding-left: 11px;
      width: auto;
      min-width: 0;
    }
  }
  td {
    border-bottom: $td--bottom solid transparent;
    &:last-child {
      padding-left: 11px;
    }
  }
  tr:nth-child(6) {
    display: none;
  }
  &__row {
    height: $name--min-height;
  }
  &__flag {
    vertical-align: top;
    padding-right: 9px;
    width: 1px;
  }
  &__name {
    @extend .roboto-medium;
    width: 100%;
    vertical-align: top;

    font-size: $font-size--small;
    color: $color-black;
  }
  &__value {
    @extend .roboto-medium;
    font-size: $font-size--small;
    text-align: center;
    color: $color-dark;
  }
  &__value {
    vertical-align: top;
  }
}

@media #{$screen-medium_small} {
  .top-players-stats {
    tr:nth-child(6) {
      display: table-row;
    }
  }
}
