.top-players {
  @extend .grid-gap--bottom;

  $padding: 20px;
  $delim--margin: 20px;

  background-color: #fff;
  padding: 23px 25px 19px 20px;
  width: 100%;

  &__header {
    @extend .roboto-medium;
    font-size: $font-size--header;
    width: 100%;
    margin-bottom: 23px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &-note {
      font-size: $font-size--smaller;
      text-align: right;
      display: block;
      .icon {
        margin-right: 4px;
        @include icon-color-modifier(#f47820);
      }
      &, a {
        @extend .hover-transition;
        color: #f47820;
      }
      a:hover {
        color: #f47820 !important;
      }
    }
  }
  &__content {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  &__delim {
    background-color: rgba($color-blue, 0.1);
    width: 1px;
    min-width: 1px;
    margin: 0 $delim--margin;
  }
}

@media #{$screen-medium_small} {
  .top-players {
    padding-bottom: 26px;
    &__content {
      flex-direction: column;
    }
    &__header-note {

    }
    &__delim {
      height: 1px;
      width: 100%;
      min-width: 100%;
      margin: 12px 0 20px 0;
    }
  }
}
